name: CI
on:
  push:
    branches:
    - main
  pull_request:
    paths-ignore:
    - README.md
    - CHANGELOG.md

jobs:
  tests:
    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - '3.10.0'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
          - '3.15'

        include:
          - os: macos-14
            python-version: '3.10.0'
          - os: macos-latest
            python-version: '3.14'
          - os: windows-latest
            python-version: '3.10.0'
          - os: windows-latest
            python-version: '3.14'
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6
      with:
        python-version: ${{ matrix.python-version }}
    - run: uv sync --frozen --group covcheck
    - name: Generate coverage report
      run: uv run --no-sync coverage run -m pytest --color=yes
    - run: uv run --no-sync coverage report --fail-under=100
